* {
	margin: 0;
}

body {
	width: 100%;
	background-color: #EFF6F8;
}

nav {
	width: 80vw;
	display: flex;
	justify-content: center;
}

.header {
	width: 100%;
	height: auto;
}

.wrapper-menu {
	width: 100%;
	height: 15vh;
	display: flex;

}

@media (max-width: 768px){
	.wrapper-menu {
		background-color: #FFFFFF;
		
	}
}

.box-img {
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;

}

@media (max-width: 768px){
	.box-img {
		width: 22%;

	}
}

.menu-image {
	margin-left: 5vw;
	width: 5vw;

}

@media (max-width: 768px){
	.menu-image {
		width: 13vw;
		height: 7vh;

	}
}

.menu {
    width: 60%;
    height: 15vh;
	display: flex;
    align-items: center;
}

@media (max-width: 768px) {
	.menu {
		padding: 0;
		width: 70%;
		background-color: #FFFFFF;

	}
}

.menu-list {
	width: 70%;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

@media (max-width: 768px){
	.menu-list {
		width: 100%;
		justify-content: space-between;

	}
}

a {
	text-decoration: none;
	color: #BC503B;
	display: flex;
	align-items: center;
}

.menu-item {
	font-size: 1.3rem;
	display: inline;
	font-family: 'Montserrat', sans-serif;
}

@media (max-width: 768px){
	.menu-item {
		font-size: 0.75rem;

	}
}

.box-home {
	display: flex;
	align-items: center;
	background-image: url("../img/fumaca.png");
	background-repeat: no-repeat;
	background-size: 55% 100%;
	background-position: right;
}

@media (max-width: 768px){
	.box-home {
		margin-bottom: 15%;
		background-size: 100% 70%;
		flex-direction: column-reverse;	
		background-position: top;	
	}
}

.home-title {
	color: #939393;
	padding-left: 80px;
	width: 50%;
	font-size: 3rem;
	font-family: 'Montserrat', sans-serif;
}

@media (max-width: 768px){
	.home-title {
		padding-left: 0;
		width: 98%;
		font-size: 2rem;
		display: flex;
    	justify-content: center;
	}
}

.home-image {
	width: 50%;
    height: 66%;
}

@media (max-width: 768px){
	.home-image {
    	width: 68%;
	}
}

.container-forLove {
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-direction: row-reverse;
}

@media (max-width: 768px){
	.container-forLove {
		width: 100%;
		flex-direction: column;
			
	}
}

.container-forLove-text {
    width: 29%;
    height: 45%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    
}

@media (max-width: 768px){
	.container-forLove-text {
		height: 65%;
		width: 75%;
		line-height: 2.3rem;

	}
}

.container-forLove-p {
	font-size: 1.3rem;
	font-family: 'Montserrat', sans-serif;
    line-height: 1.4rem;
}

@media (max-width: 768px){
	.container-forLove-img {
		width: 60%;
	}
}

.image-gallery {
	padding-left: 5vw;
	background-color: #FFFFFF;
	display: flex;
	flex-direction: row;
}

@media (max-width: 768px){
	.image-gallery {
		padding-left: 0;
		width: 100%;
		flex-direction: column-reverse;
			
	}
}

@media (max-width: 768px){
	.box-image {
		width: 100%;
		height: 25vh;
		display: flex;
		justify-content: space-between;
		align-items: center;
			
	}
}

.box-image-itens {
	margin: 12px;
	width: 12.56rem;
	height: 12.75rem;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

@media (max-width: 768px){
	.box-image-itens {
		margin: 0;
		height: 8rem;
		width: 33%;
		display: flex;
		flex-direction: row;
			
	}
}

.paragrafy-img {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.reciclagem {
	width: 74%;
	color: #D63727;
	font-size: 1.3rem;
	display: flex;
	font-family: 'Montserrat', sans-serif;
}

@media (max-width: 768px){
	.reciclagem {
		width: 77%;
		height: 20vh;
		align-items: center;
			
	}
}

.imagem4 {
	width: 80%;
	height: 70vh;
}

@media (max-width: 768px){
	.imagem4 {
		height: 30%;
		width: 100%;
		display: flex;
		align-items: center;
			
	}
}

.contra-text {
	height: 50vh;
	background-color: #F0F8FF;
	display: flex;
	justify-content: space-around;
}

@media (max-width: 768px){
	.contra-text {
		height: 80vh;
		flex-direction: column-reverse;
			
	}
}

.image1 {
	width: 45vw;
	height: 50vh;
}

@media (max-width: 768px){
	.image1 {
		width: 100%;
		height: 50vh;
		display: flex;
	
	}
}

.box-art {
    height: 40vh;
	display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
}

@media (max-width: 768px){
	.box-art {
		width: 100%;
		align-items: center;
	}

}

.listas {
	width: 40%;
	height: 25%;
	line-height: 1.25rem;
	font-size: 1rem;
}

@media (max-width: 768px){
	.listas {
		height: 13vh;
		width: 60%;
		color: #3E4D4F;

	}
}

.lista {
	padding: 0;
	color: #3E4D4F;
	font-weight: bold;
	list-style: none;
}

@media (max-width: 768px){
	.lista {
		height: 15vh;
		width: 60%;
		display: flex;
		flex-direction: column;
			
	}
}

.footer {
	width: 100%;
	display: flex;
	background-color: red;
	flex-direction: column;   
}

@media (max-width: 768px) {
	.footer {
		width: 100%;
			
	}
}

.roda-pé {
	display: flex;
	align-items: center;
	justify-content: space-around;
	flex-direction: row;
}

@media (max-width: 768px) {
	.roda-pé {
		width: 100%;
		height: 85vh;
		flex-direction: column;
			
	}
}

.footer-info {
	margin-left: 10vw;
	width: 45%;
}

@media (max-width: 768px) {
	.footer-info {
		margin: 0;
		height: 40%;
		width: 100%;
		display: flex;
		align-items: center;
		flex-direction: column;
		justify-content: space-evenly;
		
	}
}

.footer-image {
	width: 25%;
}

@media (max-width: 768px) {
	.footer-image {
		width: 20%;
    	height: 75%;
	}
}

h2 {
	color: #FFFFFF;
	width: 50%;
	font-size: 1rem;
	font-family: 'Montserrat', sans-serif;
}

@media (max-width: 768px) {
	h2 {
		width: 80%;
		font-size: 1.5rem;
		text-align: center;
		
	}
}

.info-contato {
	width: 50%;
	height: 20vh;
	color: #FFFFFF;
	display: flex;
	flex-direction: column;
	align-content: space-around; 
	justify-content: center;
}

@media (max-width: 768px){
	.info-contato {
		width: 100%;
	    height: 35%;
	    align-items: center;
	    align-self: flex-end;
	    font-size: 1.2rem;
		
	}
}

.footers {
	height: 100%;
	color: #FFFFFF;
	display: flex;
	flex-direction: column;
	justify-content: space-around; 
	font-weight: bold;
	font-family: 'Montserrat', sans-serif;
}

@media (max-width: 768px) {
	.footers {
		padding: 0;
		justify-content: center;
		
		
	}
}

.social {
	display: flex;
    align-items: center;
}

.footer-image1 {
	width: 12%;
	height: 4vh;
	font-weight: bold;
}

@media (max-width: 768px) {
	.footer-image1 {
		width: 17%;
		height: 10vh;
		margin-right: 9px;
		
	}
}

.figure-footerTime {
	width: 90%;
	height: 40vh;
}

@media (max-width: 768px){
	.figure-footerTime {
		display: none;

	}
}

.finish {
	height: 8vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #FFFFFF;
}
.finish-paragrafy {
	padding-right: 2vw;
}

.vnw {
	width: 37px;
    height: 25px;
}